
.about-page {
  .section-1 {
    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    .aboutCard-content {
    }
    h3 {
      line-height: 1.1;
      margin: 0 0 30px 0;
      @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        margin: 20px 0;
      }
    }
  }

  .section-2 {
    .product-img {
      img {
        width: 100% !important;
      }
    }

  }

  .section-3 {
    width: 100%;
    height: auto;
    position: relative;

    .bg-img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/about/team/bg.jpg");
      background-position: center;
      background-size: cover;

      .overlay{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .team-card {
      .founder-img {
        width: 100%;
        display: block;
        overflow: hidden;
        transition: all 0.4s ease;
        position: relative;

        .img{
          padding: 45%;
          background-color: #FFF;
          background-position: center 0%;
          background-repeat: no-repeat;
          background-size: cover;

          &.img-1{ 
            background-image: url("../img/about/team/t3.jpg"); 
            background-position: 0% 0%;
          }
          &.img-2{ background-image: url("../img/about/team/t2.jpg"); }
          &.img-3{ background-image: url("../img/about/team/t1.jpg"); }
          &.img-4{ background-image: url("../img/about/team/t4.jpg"); }

          @media (max-width: 640px){
            padding : 25%;
            max-width: 360px;
            margin: 0 auto;
          }
        }

        img {
          width: 100%;
          transition: 0.45s;
          height: 230px;

          @media all and (min-width: 641px) and (max-width: 1023px) {
            height:180px;
          }

          @media all and (min-width: 229px) and (max-width: 640px) {
            height:auto;
          } 
        }
      }

      .founder-content {
        h4:hover {
          color: #F1CF69;
          cursor: pointer;
        }

        & + [data-readmore-toggle]{
          display: inline-block;
          width: auto;
          margin-top: 10px;
          color: #e7931a;
        }

        /* p{
          height : 170px !important;
        } */
      }
    }
  }

  .section-5 {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    h1 {
      @media all and (min-width: 641px) and (max-width: 1023px) {
        font-size: 25px;
      }
      @media all and (min-width: 229px) and (max-width: 640px) {
        font-size: 30px;
      }
    }

    .bg-img {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../img/about/bg1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .overlay{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
