
.benefits-page{

	.page_title{
		padding-top: 50px;
		padding-bottom: 30px;
		line-height: 1;
	}

	.page_heading{
		font-size : 30px;
		font-weight : 600;
	}

	.section_title{
		font-size: 20px;
	    /* padding-top: 20px; */
	    font-weight: 600;
	}

	.section_content{
		padding-top : 20px;
	}


	.benefits_block{
	    display: flex;
	    align-items: center;
	    flex-wrap : wrap;
	    padding: 20px 0;
	    border-top: 1px solid #e7931a;

	    @media (max-width : 768px){
	    	display: block;
	    }

	    &-title{
    	    flex-basis: 70%;
	    }

	    &-cta{
	    	flex-basis : 30%;
	    	text-align: right;

	    	@media (max-width : 768px){
		    	margin-top: 15px;
		    }

	    	.pdf-btn{
	    		padding: 15px 30px;
			    display: inline-block;
			    transition: all 0.3s ease 0s;

			    &:hover{
		    	    background-color: #E7931A !important;
			    }
	    	}
	    }
	}
}