
.home-page {
  width: 100%;
  height: 50%;

  .section-1 {

    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      padding-top: 75px;
    }
    @media only screen and (max-width: 40em) {
      padding-top: 70px;
    }
    height: 365px;
    .banner {
      position: relative;
      height: 100%;
      width: 100%;
      background-image: url('/img/home/paawak-banner-image.jpg');
      background-size: cover;
      background-position: center;

      .overlay {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.5;

      }

      .banner-tagline {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0px;
        font-size: 40px;
        margin-top: -50px;

        @media only screen and (max-width: 40em) {
          padding: 20px 0;
          top : 100%;
          margin-top : -100px;
        }

        h1 {
          color: #e7931a !important;
          font-size: 40px;
          font-style: italic;
          font-weight: 900;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {
            font-size: 33px;
          }
          @media only screen and (max-width: 40em) {
            color : #262626 !important;
            font-size: 28px;
          }
        }
      }

    }
  }

  .section-2 {

    .welcome-section {
      h2 {
        font-size: 36px;
        color: #e7931a;
        font-weight: 600;
        font-style: italic;
        @media only screen and (max-width: 40em) {
          line-height: 1.2 !important;
          padding-bottom: 20px;
        }
      }
      p {
        padding-top: 20px;
        font-size: 14px;
      }
    }

    .button-content {
      height: 180px;
      width: 100%;
      display: table;
      @media all and (min-width: 229px) and (max-width: 1023px) {
        height: auto;
        padding-top: 30px;
      }
      .wrapper {
        display: table-cell;
        vertical-align: middle;
        .about-btn {
          width: 180px;
        }
      }
    }
  }

  .section-3 {
    .description {
      padding-bottom: 40px;
      @media all and (min-width: 641px) and (max-width: 1023px) {
        font-size: 14px;
      }
      @media all and (min-width: 229px) and (max-width: 640px) {
        font-size: 12px;
      }
    }
    .product-display-section {
      a.link-hover-effect {
        transition:all 0.5ms ease-in-out;
        img {
          width: 370px;
          height: 370px;
        }
        &:hover {



          img {
            box-shadow: 1px 2px 10px -1px #666;
          }
          h4 {
            text-shadow: 1px 1px 1px #000;
            color: #e7931a;
          }
        }
      }

    }
  }

  .section-4 {
    .product-content {
      .table-content {
        // padding-left: 35px;
        table {
          background: transparent;
          border: none;
          tbody {
            tr {
              background: transparent;
            }
          }
        }
      }
    }
    .product-img {
      min-height: 250px;
      display: table;
      width: 100%;
      .content {
        display: table-cell;
        vertical-align: middle;
        img {

        }
      }
    }
  }

  .section-5 {
    blockquote {
      quotes: none;

      p {
        background: #E7931A none repeat scroll 0% 0%;
        color: #FFF;
        border-radius: 9px;
        font-style: italic;
        line-height: 18px;
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
        padding: 20px;
        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
          font-size: 13px;
        }

        @media only screen and (max-width: 40em) {
          font-size: 13px;
        }

        q {
          z-index: 2;
          position: relative;
          quotes: none;
        }

        span {
          position: absolute;
          top: 48px;
          left: -34px;
          font-family: "Lato", serif;
          font-weight: 700;
          color: rgba(82, 82, 82, 0.24);
          font-size: 140px;
          z-index: -1;
        }
      }

      p::before {
        content: "";
        position: absolute;
        bottom: -39px;
        left: 60px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 40.5px 0px 40.5px 39px;
        border-color: transparent transparent transparent #E7931A;
        z-index: -2;
      }
    }
  }
}





