
.product-page {
  .section-1 {

    .product-img {
      img {
        width: 100%;
      }
    }

    .product-title {
      h4 {
        margin: 25px 0;
      }
    }
    .product-desc {
      p {
        font-size: 16px;
        @media all and (min-width: 641px) and (max-width: 1023px) {
          font-size: 14px;
        }
        @media all and (min-width: 229px) and (max-width: 640px) {
          font-size: 12px;
        }
      }
    }

    .product-slider {
      width: 100%;
      height: 100%;

      .image {
        img {
          width: 100%;
        }
      }

      .nav-prev, .nav-next {
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 35px;
        height: 35px;
        margin-top: -10px;
        padding: 0px;
        cursor: pointer;
        color: transparent;
        border: medium none;
        outline: medium none;
        background: transparent none repeat scroll 0% 0%;
        text-align: center;

        i {
          width: 100%;
          color: rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border-radius: 50%;
          font-size: 20px;
          line-height: 35px;
        }
      }

      .nav-prev {
        left: -50px;
      }
      .nav-next {
        right: -50px;
      }
    }
    .points-list {
      table {
        background: transparent;
        tbody {
          tr {
            background: transparent;
          }
        }
      }
    }
  }
}