

.recipe-gallery{
	
	.section-1{
		.recipe-grid{
		width:100%;
		height:auto;

		.recipe-menu{
			.recipe-items{

				.box-holder{
					float: left;
					width: 100%;
					height: auto;
					position: relative;
					overflow:hidden;

						.thumb{
						display: block;
						position: relative;
						overflow: hidden;
						font: inherit;
						color: inherit;
						text-decoration: none;
						transition: all 0.3s ease 0s;

							.recipe-img{
								width: 100%;
								height: auto;
								transition: all 0.5s ease 0s;
							}

							.thumb-overlay{
								position: absolute;
								left: 0px;
								top: 0px;
								right: 0px;
								bottom: 0px;
								opacity: 0;
								transition: all 0.3s ease 0s;
								color: #FFF;
								background: transparent none repeat scroll 0% 0%;
							}
						}

						.grid-item{
							width:100%;
							position: absolute;
							bottom: -100%;
							left: 0px;
							margin: 0px;
							padding: 10px 20px;
							background: #FFF none repeat scroll 0% 0%;
							transition: all 500ms linear 0s;
							z-index: 2;

							@media only screen and (max-width: 40em) { bottom:0;} 
						}
					}

				&:hover{
					.thumb .recipe-img{
						transform: scale(1.2);
					}
					.thumb .thumb-overlay{
						opacity: 1;
						background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
					}

					.box-holder .grid-item{bottom:0px;}
				}
			}
		}
	}
	}	
}


