
body, html {
  height: auto !important;
  margin: 0;
  padding: 0;
  border: 0 none;
  /*//  font-family: 'Lato', sans-serif;*/
  font-family: 'Merriweather Sans', sans-serif;
}

.dbz-loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  /*background: white url(/images/skyline.jpg) repeat-x 100% 100%;*/
  display: none;

  &.hidden {
    display: none;
  }
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -164px;
    margin-top: -78px;
    h1, h6 {
      margin: 0;
    }
    .overlay {
      background: white;
      opacity: 0.5;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.default-font-family {
  font-family: 'Merriweather Sans', sans-serif;
}

.parent-table {
  display: table;
  .child-parent-table {
    display: table-cell;
    vertical-align: middle;
  }
}

.default-title-style {
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
  color: #e7931a;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    font-size: 30px !important;
  }
  @media only screen and (max-width: 40em) {
    font-size: 25px !important;
  }

}

.default-font-color {
  color: #6A5B3B;
}

.top-header-li-active {
  background-color: #BE1E2D !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #EFEFEF !important;
}

.row {
  max-width: 75rem;
}

.set-right-border {
  border-right: 1px solid #6b4f43;
}

.font-italics {
  font-style: italic;
}

.font-serif {
  font-family: serif !important;
}

.font-lato {
  font-family: "Lato" !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

/*Background Color & Font Color*/
.bgColor-darkBrown {
  background-color: #473838 !important;
}

.bgColor-wheat {
  background: #EFE0C6 url("../img/bg_cnt.png") repeat scroll 0% 0% !important;
}

.bgColor-yellow {
  background-color: #E7931A !important;
}

.bgColor-darkPink {
  background-color: #BE1E2D !important;
}

.bgColor-black {
  background-color: #999999 !important;
}

.whiteColor {
  color: #ffffff !important;
}

.darkBrown-color {
  color: #473838 !important;
}

.darkPink-color {
  color: #BE1E2D !important;
}

.dark-yellow {
  color: #E7931A !important;
}

.border-t {
  border-top: 1px solid #4A4A49 !important;
}

.border-t-wheat{ border-top: 1px solid #EBDCC2 !important; }

.border-color-3 {
  border: 3px solid #473838 !important;
}

.border-b-1 {
  border-bottom: 1px solid #473838 !important;
}

/*Custom Margin & Padding*/

.padding-t-15{
  padding-top: 15px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px;
}

.padding-tb-20 {
  padding: 20px 0;
}

.padding-tb-100 {
  padding: 100px 0;
}

.padding-tb-60 {
  padding: 60px 0;
}

.padding-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-t-50{
  padding-top: 50px;
}

.padding-b-50{
  padding-bottom: 50px;
}

.padding-t-30{
  padding-top: 30px;
}

.padding-b-30{
  padding-bottom: 30px;
}

.no-padding {
  padding: 0 !important;
}

.padding-35 {
  padding: 35px !important;
}

.page-title {
  font-size: 40px;
  color: #E7931A;
  padding: 0 0 40px 0;
  line-height: normal;
}

/*Small only padding*/
.s-o-padding-t-100 {
  @media only screen and (max-width: 40em) {
    padding-top: 100px !important;
  }
}

.s-o-padding-t-95{
  @media only screen and (max-width: 40em) {
    padding-top:95px !important;
  }
}

.s-o-padding-b-30 {
  @media only screen and (max-width: 40em) {
    padding-bottom: 30px !important;
  }
}

.s-o-padding-b-25 {
  @media only screen and (max-width: 40em) {
    padding-bottom: 25px !important;
  }
}

.s-o-padding-tb-30 {
  @media only screen and (max-width: 40em) {
    padding: 30px 0 30px 0 !important;
  }
}

.s-o-padding-tb-40 {
  @media only screen and (max-width: 40em) {
    padding: 40px 0;
  }
}

.s-o-padding-b-40 {
  @media only screen and (max-width: 40em) {
    padding-bottom: 40px;
  }
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

/*Medium only padding*/
.m-o-padding-t-90 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    padding-top: 90px !important;
  }
}

.slide-menu {
  z-index: 99 !important;
  opacity: 1 !important;
  visibility: visible !important;
  margin: 0 !important;
  height: 100% !important;
  background: #000 !important;
}

.m-o-padding-t-130 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    padding-top: 130px !important;
  }
}

.m-o-padding-b-50 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    padding-bottom: 50px !important;
  }
}

.m-o-padding-tb-50 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    padding: 50px 0 !important;
  }
}

.m-o-padding-tb-30 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    padding: 30px 0 !important;
  }
}

.margin-t20{
  margin-top: 20px !important;
}

.margin-t20-b10 {
  margin: 20px 0 10px 0 !important;
}

.margin-b-only {
  margin: 0 0 10px 0 !important;
}

.margin-b-25 {
  margin-bottom: 25px !important;
}

.margin-b-5 {
  margin: 0 0 5px 0 !important;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.no-margin-b{margin-bottom: 0;}

/*Small only Margin*/
.s-o-margin-tb-15 {
  @media only screen and (max-width: 40em) {
    margin: 15px 0 !important;
  }
}

.s-o-margin-b-25 {
  @media only screen and (max-width: 40em) {
    margin-bottom: 25px !important;
  }
}

.s-o-margin-b-30 {
  @media only screen and (max-width: 40em) {
    margin-bottom: 30px !important;
  }
}

.s-o-margin-tb-25 {
  @media only screen and (max-width: 40em) {
    margin: 25px 0 !important;
  }
}

/*Medium only margin*/
.m-o-margin-t-30 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin-top: 30px !important;
  }
}

.m-o-margin-b-30 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin-bottom: 30px !important;
  }
}

.m-o-margin-tb-20 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin: 20px 0 !important;
  }
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-b-30 {
  margin: 0 0 30px 0;
}

.custom-margin {
  margin: 25px 0 20px 0;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

/*Custom Fonts*/
.fs-dot85-rem {
  font-size: 0.85rem !important;
}

.fs-dot75-rem {
  font-size: 0.75rem !important;
}

.custom-lh {
  line-height: 1.2 !important;
}

.lh-50{line-height: 50px !important;}

/* BANNER SECTION */

.head-banner-section {
  height: 30%;
  .banner-bg {
    width: 100%;
    min-height: 100%;
    background-image: url("../img/about/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section-1, .section-2, .section-3 {
  width: 100%;
  height: auto;
  position: relative;
}

/* CUSTOM MARGIN AND PADDING*/

.margin-top20 {
  margin-top: 20px;
}

.small-only-m-b25 {
  @media only screen and (max-width: 40em) {
    margin-bottom: 25px !important;
  }
}

.med-only-margin-bottom20 {
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin-bottom: 20px;
  }
}

.large-only-margin25 {
  @media only screen and (min-width: 64.063em) and (max-width: 90em) {
    margin-top: 25px;
  }
}

.large-up-margin-t-25 {
  @media only screen and (min-width: 90.063em) and (max-width: 120em) {
    margin-top: 25px;
  }
}

.small-only-margin25 {
  @media only screen and (max-width: 40em) {
    margin: 25px 0 !important;
  }
}

.padding100 {
  padding: 100px 0;
}

.padding50 {
  padding: 50px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
  }
  @media only screen and (max-width: 40em) {
    padding: 0 0 50px 0;
  }
}

/* SECTION HEADER */
.section-header {
  margin-bottom: 50px;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 40em) {
    margin-bottom: 20px;
  }
}

/* READ MORE BUTTON HOVER EFFECTS*/
.about-btn, .clear-btn, .send-btn {
  padding: 15px 30px;
  display: inline-block;
  width: 100%;
  transition: all 0.3s ease 0s;

  @media only screen and (max-width: 40em) {
    background-color: #BE1E2D !important;
    color: #ffffff !important;
  }

  &:focus {
    outline: 0 !important;
    background-color: #E7931A !important;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    background-color: #E7931A !important;
  }
}

.stickyHeader {
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 3px 10px -3px #777;
}

.small-only-height70 {
  @media only screen and (max-width: 40em) {
    height: 70px !important;
  }
}

.height100-percent {
  height: 100%;
}

.add-dropdown {
  margin: 30px 0 0 0;
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  height: 0;
  background: transparent;
  transition: all .2s ease-in-out;
}

.scroll-top {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  color: #FFF;
  background: #BE1E2D none repeat scroll 0% 0%;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
  transform: translateY(100px);
  position: fixed;
  right: 40px;
  bottom: 40px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  transition: transform 0.45s ease-in-out;

  &:hover {
    color: #FFF;
    background: #E7931A none repeat scroll 0% 0%;
    text-decoration: none;
  }
}

.slide-up {
  transform: translateY(0px);
}


.inline-block{display: inline-block;}