
.footer-section {
  .social-icons {
      display: inline-block;
      vertical-align: middle;
      display: inline-block;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      color: #F1E6D4;
      transition: all 0.3s ease 0s;

      @media only screen and (max-width: 40em){
        width: 50px;
        height: 50px;
      }

      i{
        font-size:35px;
        line-height: 100px;
        @media only screen and (max-width: 40em){
          font-size:20px;
          line-height: 50px;
        }
      }

      &:hover{
        background-color: #BE1E2D !important;
      } 
    }


   .copyright{
    a:hover{ color: #E7931A; }
   } 
  }
