/*LARGE DEVICE HEADER*/

.pre-header {

  .brand-logo {
    .brand-slogan {
      color: #473816;
      font-size: 12px;
      line-height: 8px;
      text-transform: uppercase;
      margin-left: 134px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .brand-name {
      font-size: 46px;
      line-height: 43px;
      color: #473816;
      display: inline-block;
      position: relative;
      font-weight: 900;
      margin-top: -7px;
      letter-spacing: -1px;
    }
    img {
      height: 75px;
      width: 100px;
    }
  }

  .brand-info {
    color: #886E36;
    margin-top: 10px;

    .border-right {
      border-right: 1px solid #886E36;
    }
    .fa-phone, .fa-map-marker {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      padding: 0 16px 0px 27px;
      margin-right: 15px;
      font-family: 'Merriweather Sans', sans-serif;
    }

    .fa-phone::before, .fa-map-marker::before {
      position: absolute;
      color: #886E36;
      font-size: 45px;
      top: 10%;
      font-weight: 400;
      font-family: "FontAwesome";
    }
    .fa-phone::before {
      left: -15px;
      padding-top: 15px;
    }
    .fa-map-marker::before {
      left: -5px;
    }
  }

}

.pawak-header {
  width: 100%;
  height: auto;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header-wrapper {
    height: auto;
    background-color: transparent;
    transition: all 0.35s ease-in-out;

    nav {
      overflow: visible;

      .brand-logo {
        width: 30%;
        .brand-img {
          display: block;

          img {
            width: 100px;
            display: block;
          }
        }
      }

      .navigation-bar {
        width: 100%;

        ul.nav-menu {
          list-style: none;
          overflow: visible;

          .navMenu-items {
            float: left;
            a {
              overflow: hidden;
              position: relative;
              padding: 15px 30px;
              margin-right: 1px;
              display: block;
              transition: color 300ms linear;
            }
            a:hover {
              background-color: #BE1E2D;
            }
            a:before {
              width: 0;
              height: 3px;
              transition: width 300ms linear;
              content: '';
              position: absolute;
              background-color: #ffffff;
              display: block;
              bottom: 0;
              left: 0;
            }
            &#products-menu {
              position: relative;
            }
            ul.product-menu-lists {
              list-style: none;
              margin: 30px 0 0 0;
              opacity: 0;
              visibility: hidden;
              width: 240px;
              height: 0;
              background: transparent;
              transition: all .2s ease-in-out;
              left: 0;
              position: absolute;
              top: 60px;
              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border: inset 8px;
                border-color: rgba(255, 255, 255, 0) transparent rgb(231, 147, 26) transparent;
                border-top-style: solid;
                margin-top: -16.5px;
                top: 0;
                left: 10px;
              }
              li.product-menu-item {
                transition: all 0.65s ease-in-out;
                background-color: #E7931A;
                width: 100%;
                height: 100%;


                .productMenu-link {
                  padding: 0 10px;
                  white-space: nowrap;
                  line-height: 35px;
                  transition: color 0.45s ease-in-out;
                  &:hover {
                    color: #F1CF69 !important;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}

/* MOBILE HEADER */
.mobile-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #E7931A;

  .top-bar {
    height: 70px;
    transition: all 300ms ease-out;
    background-color: #E7931A;
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      width: 90% !important;
      margin: 0 auto !important;
    }
    &.expanded {
      height: auto;
      background: transparent;

      .toggle-topbar a {
        span::after {
          box-shadow: 0 0 0 1px #000000, 0 7px 0 1px #000000, 0 14px 0 1px #000;
        }
      }
    }

    .title-area {
      height: 70px;
      background-color: #E7931A;
      .name {
        height: 100%;
        float: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .brand-img {
          img {
            width: 120px;
            height: auto;
          }
        }
      }

      .toggle-topbar {
        left: 0 !important;
        right: auto !important;
        a {
          padding: 10px 22px !important;
          //          background-color: #E7931A;
        }
      }
    }

    .top-bar-section {
      background-color: #E7931A;
      ul {
        li {
          background-color: #E7931A;
          height: 51px;

          @media only screen and (min-width: 641px) and (max-width:1024px){
            line-height:70px;
            height: 70px;
            border-top: 0 !important;
          }
          a {
            background-color: #E7931A;

            @media only screen and (min-width: 641px) and (max-width:1024px){
            line-height:40px;
            height: 70px;
            padding: 15px 10px !important;
              font-size: 12px;
          }
            /*@media only screen and (min-width: 40.063em) and (max-width: 64em) {
              
            }*/
          }
          &:hover {
            background-color: #E7931A!important;
            a {
              background-color: #E7931A!important;
            }
          }
          &.has-dropdown {
            a {
              &::after {
                top: 45%;
                border-color: transparent transparent transparent rgb(76, 62, 62);
                @media all and (min-width: 641px) and (max-width: 1023px) {
                  top: 68%;
                  left: 35px;
                }
              }
            }
            ul.dropdown {
              li.js-generated {
                border-top: 1px solid #EBDCC2;

                h5{
                  line-height: 50px;
                  a{
                    line-height: 50px;
                    padding: 0;
                    text-transform: uppercase;
                    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
                    color: #000;
                    font-size: 16px;
                  }
                }

                a {
                  background-color: #E7931A;
                }
              }
            }

          }
        }
      }
      .menu {
        .menu-items > a {
          padding: 0.5rem 0.9375rem !important;
        }

        .has-dropdown {
          a:after {
            @media only screen and (min-width: 40.063em) and (max-width: 64em) {
              margin-top: 6.5px !important;
              right: -15px !important;
            }
          }
          .dropdown {
            @media only screen and (min-width: 40.063em) and (max-width: 64em) {
              display: none;
            }
            .parent-link {
              text-align: center;
              font-weight: 500 !important;
              font-size: 0.975rem !important;
              //              font-family: ubuntu !important;
              border-top: 1px solid #4A4A49 !important;
            }
          }
        }
      }
    }
  }

}